<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.wms.dao.AccessRecordMapper">
    <resultMap id="accessRecordDO" type="com.ken.wms.domain.AccessRecordDO">
        <id column="RECORD_ID" property="id"/>
        <result column="USER_ID" property="userID"/>
        <result column="USER_NAME" property="userName"/>
        <result column="ACCESS_TYPE" property="accessType"/>
        <result column="ACCESS_TIME" property="accessTime"/>
        <result column="ACCESS_IP" property="accessIP"/>
    </resultMap>

    <insert id="insertAccessRecord">
        insert into wms_access_record(USER_ID, USER_NAME, ACCESS_TYPE, ACCESS_TIME, ACCESS_IP)
        values(#{userID}, #{userName}, #{accessType}, #{accessTime}, #{accessIP})
    </insert>

    <select id="selectAccessRecords" resultMap="accessRecordDO">
        select
            RECORD_ID,
            USER_ID,
            USER_NAME,
            ACCESS_TYPE,
            ACCESS_TIME,
            ACCESS_IP
        from
            wms_access_record
        <where>
            <if test="userID != -1">
                USER_ID = #{userID}
            </if>
            <if test="accessType != 'all'">
                and ACCESS_TYPE = #{accessType}
            </if>
            <if test="startDate != null">
                and ACCESS_TIME >= #{startDate}
            </if>
            <if test="endDate != null">
                <![CDATA[and ACCESS_TIME <= #{endDate}]]>
            </if>
        </where>
    </select>
</mapper>