<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.wms.dao.CustomerMapper">

    <resultMap type="com.ken.wms.domain.Customer" id="customer">
        <id property="id" column="CUSTOMER_ID"/>
        <result property="name" column="CUSTOMER_NAME"/>
        <result property="personInCharge" column="CUSTOMER_PERSON"/>
        <result property="tel" column="CUSTOMER_TEL"/>
        <result property="email" column="CUSTOMER_EMAIL"/>
        <result property="address" column="CUSTOMER_ADDRESS"/>
    </resultMap>

    <select id="selectAll" resultMap="customer">
        select
        c.CUSTOMER_ID,
        c.CUSTOMER_NAME,
        c.CUSTOMER_PERSON,
        c.CUSTOMER_TEL,
        c.CUSTOMER_EMAIL,
        c.CUSTOMER_ADDRESS
        from
        wms_customer c
    </select>

    <select id="selectById" resultMap="customer">
        select
        c.CUSTOMER_ID,
        c.CUSTOMER_NAME,
        c.CUSTOMER_PERSON,
        c.CUSTOMER_TEL,
        c.CUSTOMER_EMAIL,
        c.CUSTOMER_ADDRESS
        from
        wms_customer c
        where
        c.CUSTOMER_ID = #{id}
    </select>

    <select id="selectByName" resultMap="customer">
        select
        c.CUSTOMER_ID,
        c.CUSTOMER_NAME,
        c.CUSTOMER_PERSON,
        c.CUSTOMER_TEL,
        c.CUSTOMER_EMAIL,
        c.CUSTOMER_ADDRESS
        from
        wms_customer c
        where
        c.CUSTOMER_NAME = #{customerName}
    </select>

    <select id="selectApproximateByName" resultMap="customer">
        select
        c.CUSTOMER_ID,
        c.CUSTOMER_NAME,
        c.CUSTOMER_PERSON,
        c.CUSTOMER_TEL,
        c.CUSTOMER_EMAIL,
        c.CUSTOMER_ADDRESS
        from
        wms_customer c
        where
        c.CUSTOMER_NAME like concat(concat('%',#{customerName}),'%')
    </select>

    <insert id="insert">
        insert into wms_customer(CUSTOMER_NAME,CUSTOMER_PERSON,CUSTOMER_TEL,CUSTOMER_EMAIL,CUSTOMER_ADDRESS)
        values (#{name},#{personInCharge},#{tel},#{email},#{address})
    </insert>

    <insert id="insertBatch">
        insert into wms_customer(CUSTOMER_NAME,CUSTOMER_PERSON,CUSTOMER_TEL,CUSTOMER_EMAIL,CUSTOMER_ADDRESS)
        values
        <foreach collection="list" item="customer" separator=",">
            (#{customer.name},#{customer.personInCharge},#{customer.tel},#{customer.email},#{customer.address})
        </foreach>
    </insert>

    <update id="update">
        update
        wms_customer
        set
        CUSTOMER_NAME = #{name},
        CUSTOMER_PERSON = #{personInCharge},
        CUSTOMER_TEL = #{tel},
        CUSTOMER_EMAIL = #{email},
        CUSTOMER_ADDRESS = #{address}
        where
        CUSTOMER_ID = #{id}
    </update>

    <delete id="deleteById">
        delete from wms_customer
        where CUSTOMER_ID = #{id}
    </delete>

    <delete id="deleteByName">
        delete from wms_customer
        where CUSTOMER_NAME = #{name}
    </delete>
</mapper>