<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.wms.dao.StockOutMapper">
	
	<resultMap type="com.ken.wms.domain.StockOutDO" id="stockOutDO">
		<id property="id" column="STOCKOUT_ID"/>
		<result property="customerID" column="STOCKOUT_CUSTOMER_ID"/>
		<result property="customerName" column="STOCKOUT_CUSTOMER_NAME"/>
		<result property="goodID" column="STOCKOUT_GOOD_ID"/>
		<result property="goodName" column="STOCKOUT_GOOD_NAME"/>
		<result property="number" column="STOCKOUT_NUMBER"/>
		<result property="time" column="STOCKOUT_TIME"/>
		<result property="personInCharge" column="STOCKOUT_PERSON"/>
		<result property="repositoryID" column="STOCKOUT_REPOSITORY_ID"/>
	</resultMap>
	
	<select id="selectAll" resultMap="stockOutDO">
		select
			r.RECORD_ID as STOCKOUT_ID,
			r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
			c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
			r.RECORD_GOODID as STOCKOUT_GOOD_ID,
			g.GOOD_NAME as STOCKOUT_GOOD_NAME,
			r.RECORD_NUMBER as STOCKOUT_NUMBER,
			r.RECORD_TIME as STOCKOUT_TIME,
			r.RECORD_PERSON as STOCKOUT_PERSON,
			r.RECORD_REPOSITORYID asSTOCKOUT_REPOSITORY_ID
		from
			wms_record_out r,wms_goods g,wms_customer c
		where
			r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
			r.RECORD_GOODID = g.GOOD_ID
	</select>
	
	<select id="selectByCustomerId" resultMap="stockOutDO">
		select
			r.RECORD_ID as STOCKOUT_ID,
			r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
			c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
			r.RECORD_GOODID as STOCKOUT_GOOD_ID,
			g.GOOD_NAME as STOCKOUT_GOOD_NAME,
			r.RECORD_NUMBER as STOCKOUT_NUMBER,
			r.RECORD_TIME as STOCKOUT_TIME,
			r.RECORD_PERSON as STOCKOUT_PERSON,
			r.RECORD_REPOSITORYID asSTOCKOUT_REPOSITORY_ID
		from
			wms_record_out r,wms_goods g,wms_customer c
		where
			r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_CUSTOMERID = #{customerId}
	</select>
	
	<select id="selectByGoodId" resultMap="stockOutDO">
		select
			r.RECORD_ID as STOCKOUT_ID,
			r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
			c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
			r.RECORD_GOODID as STOCKOUT_GOOD_ID,
			g.GOOD_NAME as STOCKOUT_GOOD_NAME,
			r.RECORD_NUMBER as STOCKOUT_NUMBER,
			r.RECORD_TIME as STOCKOUT_TIME,
			r.RECORD_PERSON as STOCKOUT_PERSON,
			r.RECORD_REPOSITORYID asSTOCKOUT_REPOSITORY_ID
		from
			wms_record_out r,wms_goods g,wms_customer c
		where
			r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_GOODID = #{goodId}
	</select>
	
	<select id="selectById" resultMap="stockOutDO">
		select
			r.RECORD_ID as STOCKOUT_ID,
			r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
			c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
			r.RECORD_GOODID as STOCKOUT_GOOD_ID,
			g.GOOD_NAME as STOCKOUT_GOOD_NAME,
			r.RECORD_NUMBER as STOCKOUT_NUMBER,
			r.RECORD_TIME as STOCKOUT_TIME,
			r.RECORD_PERSON as STOCKOUT_PERSON,
			r.RECORD_REPOSITORYID asSTOCKOUT_REPOSITORY_ID
		from
			wms_record_out r,wms_goods g,wms_customer c
		where
			r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_ID = #{id}
	</select>
	
	<select id="selectByRepositoryID" resultMap="stockOutDO">
		select
			r.RECORD_ID as STOCKOUT_ID,
			r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
			c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
			r.RECORD_GOODID as STOCKOUT_GOOD_ID,
			g.GOOD_NAME as STOCKOUT_GOOD_NAME,
			r.RECORD_NUMBER as STOCKOUT_NUMBER,
			r.RECORD_TIME as STOCKOUT_TIME,
			r.RECORD_PERSON as STOCKOUT_PERSON,
			r.RECORD_REPOSITORYID as STOCKOUT_REPOSITORY_ID
		from
			wms_record_out r,wms_goods g,wms_customer c
		where
			r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_REPOSITORYID = 1007
	</select>

	<select id="selectByRepositoryIDAndDate" resultMap="stockOutDO">
        select
            r.RECORD_ID as STOCKOUT_ID,
            r.RECORD_CUSTOMERID as STOCKOUT_CUSTOMER_ID,
            c.CUSTOMER_NAME as STOCKOUT_CUSTOMER_NAME,
            r.RECORD_GOODID as STOCKOUT_GOOD_ID,
            g.GOOD_NAME as STOCKOUT_GOOD_NAME,
            r.RECORD_NUMBER as STOCKOUT_NUMBER,
            r.RECORD_TIME as STOCKOUT_TIME,
            r.RECORD_PERSON as STOCKOUT_PERSON,
            r.RECORD_REPOSITORYID as STOCKOUT_REPOSITORY_ID
        from
            wms_record_out r,wms_goods g,wms_customer c
        where
            r.RECORD_CUSTOMERID = c.CUSTOMER_ID and
            r.RECORD_GOODID = g.GOOD_ID
            <if test="repositoryID > 0">
                and r.RECORD_REPOSITORYID = #{repositoryID}
            </if>
            <if test="startDate != null">
                and r.RECORD_TIME >= #{startDate}
            </if>
            <if test="endDate != null">
                <![CDATA[and r.RECORD_TIME <= #{endDate}]]>
            </if>
	</select>
		
	<insert id="insert">
		insert into wms_record_out(RECORD_CUSTOMERID,RECORD_GOODID,RECORD_NUMBER,RECORD_TIME,RECORD_PERSON,RECORD_REPOSITORYID)
		values(#{customerID},#{goodID},#{number},#{time},#{personInCharge},#{repositoryID})
	</insert>
	
	<update id="update">
		update
			wms_record_out
		set
			RECORD_CUSTOMERID = #{customerID},
			RECORD_GOODID = #{goodID},
			RECORD_NUMBER = #{number},
			RECORD_TIME = #{time},
			RECORD_PERSON = #{personInCharge}
		where
			RECORD_ID = #{id}
	</update>
	
	<delete id="deleteById">
		delete from wms_record_out
		where RECORD_ID = #{id}
	</delete>
</mapper>