<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ken.wms.dao.StockInMapper">
	
	<resultMap type="com.ken.wms.domain.StockInDO" id="stockInDO">
		<id property="id" column="STOCKIN_ID"/>
		<result property="supplierID" column="STOCKIN_SUPPLIER_ID"/>
		<result property="supplierName" column="STOCKIN_SUPPLIER_NAME"/>
		<result property="goodID" column="STOCKIN_GOOD_ID"/>
		<result property="goodName" column="STOCKIN_GOOD_NAME"/>
		<result property="number" column="STOCKIN_NUMBER"/>
		<result property="time" column="STOCKIN_TIME"/>
		<result property="personInCharge" column="STOCKIN_PERSON"/>
		<result property="repositoryID" column="STOCKIN_REPOSITORY_ID"/>
	</resultMap>
	
	<select id="selectAll" resultMap="stockInDO">
		select
			r.RECORD_ID as STOCKIN_ID,
			r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
			s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
			r.RECORD_GOODID as STOCKIN_GOOD_ID,
			g.GOOD_NAME as STOCKIN_GOOD_NAME,
			r.RECORD_NUMBER as STOCKIN_NUMBER,
			r.RECORD_TIME as STOCKIN_TIME,
			r.RECORD_PERSON as STOCKIN_PERSON,
			r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
		from
			wms_record_in r,wms_goods g,wms_supplier s
		where
			r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
			r.RECORD_GOODID = g.GOOD_ID
	</select>
	
	<select id="selectBySupplierId" resultMap="stockInDO">
		select
			r.RECORD_ID as STOCKIN_ID,
			r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
			s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
			r.RECORD_GOODID as STOCKIN_GOOD_ID,
			g.GOOD_NAME as STOCKIN_GOOD_NAME,
			r.RECORD_NUMBER as STOCKIN_NUMBER,
			r.RECORD_TIME as STOCKIN_TIME,
			r.RECORD_PERSON as STOCKIN_PERSON,
			r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
		from
			wms_record_in r,wms_goods g,wms_supplier s
		where
			r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_SUPPLIERID = #{supplierID}
	</select>
	
	<select id="selectByGoodID" resultMap="stockInDO">
		select
			r.RECORD_ID as STOCKIN_ID,
			r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
			s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
			r.RECORD_GOODID as STOCKIN_GOOD_ID,
			g.GOOD_NAME as STOCKIN_GOOD_NAME,
			r.RECORD_NUMBER as STOCKIN_NUMBER,
			r.RECORD_TIME as STOCKIN_TIME,
			r.RECORD_PERSON as STOCKIN_PERSON,
			r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
		from
			wms_record_in r,wms_goods g,wms_supplier s
		where
			r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_GOODID = #{goodID}
	</select>
	
	<select id="selectByID" resultMap="stockInDO">
		select
			r.RECORD_ID as STOCKIN_ID,
			r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
			s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
			r.RECORD_GOODID as STOCKIN_GOOD_ID,
			g.GOOD_NAME as STOCKIN_GOOD_NAME,
			r.RECORD_NUMBER as STOCKIN_NUMBER,
			r.RECORD_TIME as STOCKIN_TIME,
			r.RECORD_PERSON as STOCKIN_PERSON,
			r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
		from
			wms_record_in r,wms_goods g,wms_supplier s
		where
			r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_ID = #{id}
	</select>
	
	<select id="selectByRepositoryID" resultMap="stockInDO">
		select
			r.RECORD_ID as STOCKIN_ID,
			r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
			s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
			r.RECORD_GOODID as STOCKIN_GOOD_ID,
			g.GOOD_NAME as STOCKIN_GOOD_NAME,
			r.RECORD_NUMBER as STOCKIN_NUMBER,
			r.RECORD_TIME as STOCKIN_TIME,
			r.RECORD_PERSON as STOCKIN_PERSON,
			r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
		from
			wms_record_in r,wms_goods g,wms_supplier s
		where
			r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
			r.RECORD_GOODID = g.GOOD_ID and
			r.RECORD_REPOSITORYID = #{repositoryID}
	</select>

	<select id="selectByRepositoryIDAndDate" resultMap="stockInDO">
        select
            r.RECORD_ID as STOCKIN_ID,
            r.RECORD_SUPPLIERID as STOCKIN_SUPPLIER_ID,
            s.SUPPLIER_NAME as STOCKIN_SUPPLIER_NAME,
            r.RECORD_GOODID as STOCKIN_GOOD_ID,
            g.GOOD_NAME as STOCKIN_GOOD_NAME,
            r.RECORD_NUMBER as STOCKIN_NUMBER,
            r.RECORD_TIME as STOCKIN_TIME,
            r.RECORD_PERSON as STOCKIN_PERSON,
            r.RECORD_REPOSITORYID as STOCKIN_REPOSITORY_ID
        from
            wms_record_in r,wms_goods g,wms_supplier s
        where
            r.RECORD_SUPPLIERID = s.SUPPLIER_ID and
            r.RECORD_GOODID = g.GOOD_ID
        <if test="repositoryID > 0">
            and r.RECORD_REPOSITORYID = #{repositoryID}
        </if>
        <if test="startDate != null">
            and r.RECORD_TIME >= #{startDate}
        </if>
        <if test="endDate != null">
            <![CDATA[and r.RECORD_TIME <= #{endDate}]]>
        </if>
	</select>
	
	<insert id="insert">
		insert into wms_record_in(RECORD_SUPPLIERID,RECORD_GOODID,RECORD_NUMBER,RECORD_TIME,RECORD_PERSON,RECORD_REPOSITORYID)
		values(#{supplierID},#{goodID},#{number},#{time},#{personInCharge},#{repositoryID})
	</insert>
	
	<update id="update">
		update 
			wms_record_in
		set
			RECORD_SUPPLIERID = #{supplierID},
			RECORD_GOODID = #{goodID},
			RECORD_NUMBER = #{number},
			RECORD_TIME = #{time},
			RECORD_PERSON = #{personInCharge}
		where
			RECORD_ID = #{id}
	</update>
	
	<delete id="deleteByID">
		delete from wms_record_in
		where RECORD_ID = #{id}
	</delete>
</mapper>