<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
 <mapper namespace="com.ken.wms.dao.SupplierMapper">
	
	<resultMap type="com.ken.wms.domain.Supplier" id="supplier">
		<id property="id" column="SUPPLIER_ID"/>
		<result property="name" column="SUPPLIER_NAME"/>
		<result property="personInCharge" column="SUPPLIER_PERSON"/>
		<result property="tel" column="SUPPLIER_TEL"/>
		<result property="email" column="SUPPLIER_EMAIL"/>
		<result property="address" column="SUPPLIER_ADDRESS"/>
	</resultMap> 	
	
	<select id="selectAll" resultMap="supplier">
		select
			s.SUPPLIER_ID,
			s.SUPPLIER_NAME,
			s.SUPPLIER_PERSON,
			s.SUPPLIER_TEL,
			s.SUPPLIER_EMAIL,
			s.SUPPLIER_ADDRESS
		from
			wms_supplier s
	</select>
	
	<select id="selectById" resultMap="supplier">
		select
			s.SUPPLIER_ID,
			s.SUPPLIER_NAME,
			s.SUPPLIER_PERSON,
			s.SUPPLIER_TEL,
			s.SUPPLIER_EMAIL,
			s.SUPPLIER_ADDRESS
		from
			wms_supplier s
		where
			s.SUPPLIER_ID = #{id}
	</select>
	
	<select id="selectBuName" resultMap="supplier">
		select
			s.SUPPLIER_ID,
			s.SUPPLIER_NAME,
			s.SUPPLIER_PERSON,
			s.SUPPLIER_TEL,
			s.SUPPLIER_EMAIL,
			s.SUPPLIER_ADDRESS
		from
			wms_supplier s
		where
			s.SUPPLIER_NAME = #{supplierName}
	</select>
	
	<select id="selectApproximateByName" resultMap="supplier">
		select
			s.SUPPLIER_ID,
			s.SUPPLIER_NAME,
			s.SUPPLIER_PERSON,
			s.SUPPLIER_TEL,
			s.SUPPLIER_EMAIL,
			s.SUPPLIER_ADDRESS
		from
			wms_supplier s
		where
			s.SUPPLIER_NAME like concat(concat('%',#{supplierName}),'%')
	</select>
	
	<insert id="insert" keyProperty="id" useGeneratedKeys="true">
		insert into wms_supplier(SUPPLIER_NAME,SUPPLIER_PERSON,SUPPLIER_TEL,SUPPLIER_EMAIL,SUPPLIER_ADDRESS)
		values(#{name},#{personInCharge},#{tel},#{email},#{address})
	</insert>
	
	<insert id="insertBatch">
		insert into wms_supplier(SUPPLIER_NAME,SUPPLIER_PERSON,SUPPLIER_TEL,SUPPLIER_EMAIL,SUPPLIER_ADDRESS)
		values
		<foreach collection="list" item="supplier" separator=",">
			(#{supplier.name},#{supplier.personInCharge},#{supplier.tel},#{supplier.email},#{supplier.address})
		</foreach>
	</insert>
	
	<update id="update">
		update 
			wms_supplier
		set
			SUPPLIER_NAME = #{name},
			SUPPLIER_PERSON = #{personInCharge},
			SUPPLIER_TEL = #{tel},
			SUPPLIER_EMAIL = #{email},
			SUPPLIER_ADDRESS = #{address}
		where
			SUPPLIER_ID = #{id}
	</update>
	
	<delete id="deleteById">
		delete from wms_supplier
		where SUPPLIER_ID = #{id}
	</delete>
	
	<delete id="deleteByName">
		delete from wms_supplier
		where SUPPLIER_NAME = #{name}
	</delete>
 </mapper>